.footer{
	padding: 40px 15px 20px;

	&__logo{
		margin: 10px;
	}

	&__logo-wrapper{
		margin-right: 10px;
	}

	&__phones{
		margin-left: 20px;
	}

	@media all and (max-width: 913px){
		.footer{

			&__logo-wrapper, 
			&__contact-wrapper{
				margin: 0 auto;
				text-align: center;
			}

			&__logo, 
			&__logo-text,
			&__phones{
				margin: 10px auto;
			}

		}
	}



}