.portfolio{
	background: @color-background-portfolio;


	&__header{
		color: @color-base;
		font-size: 45px;
		font-family: @font-base;
		text-shadow: 5px 3px 5px fade(@color-background, 50%);
		padding-bottom: 15px;
	}
}

@media all and (max-width: 768px) {
	.portfolio{
		&__header{
			font-size: 30px;
		}
	}
}