.advantage {
	padding: 24px 0 22px;
	font-family: @font-base;

	&__num {
	    font-size: 50px;
	}

	&__text {
	    font-size: 20px;
	    word-spacing: 3px;
	}
}

@media all and (max-width: 768px){
	.advantage{
		&__text{
			font-size: 20px;
		}
	}
}