.wave{
width: 100%;
background: @color-base;
height: 20px;
position: relative;
}
.wave::before{
content: "";
position: absolute;
left: 0;
bottom: 0;
right: 0;
background-repeat: repeat;
height: 15px;
background-size: 20px 20px;
background-image:
radial-gradient(circle at 10px -5px, transparent 12px, #19d1ff 13px);
}
.wave::after{
content: "";
position: absolute;
left: 0;
bottom: 0;
right: 0;
background-repeat: repeat;
height: 20px;
background-size: 48px 23px;
background-image:
radial-gradient(circle at 38px 16px, #00cee4 12px, transparent 13px);
}
