.button{
	font-family: @font-base;
	font-size: 16px;
	border: 2px solid fadeout(@color-base, 50%);
	letter-spacing: 1.2px;
	width: 100%;
	max-width: 205px;
	padding: 9px 0;
	color: @color-base;
	border-radius: 50px;
	text-align: center;
	text-decoration: none;
	background: @transparent-background;
	cursor: pointer;

	&__miscalculation{
		background: fade(@color-header-button-miscalculation, 90%);
		width: 100%;
	    max-width: 230px;
	    line-height: 30px;
	    border-radius: 50px;
	    border: none;
	}

	&__form{
		background: @color-form-button;
		padding: 8px 0;
		color:@color-base;
		border-radius: 50px;
		width: 100%;
		letter-spacing: 3px;
		font-family: @font-base;
	}

	&__footer{
		width: 204px;
		height: 43px;
		font-family: @font-base;
		font-size: 16px;
		border: 1px solid @color-base;
		letter-spacing: 1.2px;
		padding: 5px 0;
		color: @color-base;
		border-radius: 50px;
		text-align: center;
		text-decoration: none;
		background: @transparent-background;
		cursor: pointer;
	}

}

	@media all and (max-width: 768px) {
		.button{
			text-decoration: underline;
			border: none;
			padding: 0;

			&__miscalculation{
				text-decoration: none;
				line-height: 50px;
			}

		}

	}