.header{
	background: url(../images/bg-img.jpg) no-repeat center center / cover;
	font-family: @font-base;
	color: @color-base;

	&__wrap{
		padding-top: 34px;
	}

	&__menu-name{
		font-family: @font-base;
		font-size: 22px;
		text-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.1);
	}

	&__img{
		padding-bottom: 23px;
	}

	&__caption{
		font-family: @font-base;
		font-size: 22px;
		line-height: 28px;
	}

	&__contacts{
		font-family: @font-base;
		font-size: 22px;
	}

	&__contacts-tel{
		padding-bottom: 13px;
		letter-spacing: 0.3px;
	}

	&__main-content {
	    padding-top: 168px;
	}

	&__text {
    font-size: 45px;
    letter-spacing: 0.6px;
    line-height: 56px;
    text-shadow: 5px 3px 5px rgba(0,0,0,0.5);

	    &:nth-child(2){
	    	padding-bottom: 56px;
	    }

	    &_bold{
	    	font-weight: 700;
	    }
	}
	&__down-scroll {
	    padding-top: 195px;
	    padding-bottom: 59px;
	}

	&__down-scroll-mobile{
		display: none;
	}

	@media all and (max-width: 768px) {
		.header {
			&__menu-name{
				display: none;
			}

			&__caption{
				font-size: 16px;
			}

			&__contacts{
				padding-top: 20px;
			}
			&__contacts-tel{
				padding: 0;
			}

			&__down-scroll-desktop{
				display: none;
			}

			&__down-scroll-mobile{
				display: block;
				margin: 0 auto;
			}

		}
	}

}

